certifi==2019.6.16
chardet==3.0.4
dateutils==0.6.6
idna==2.8
Jinja2==2.10.1
MarkupSafe==1.1.1
psycopg2-binary==2.8.3
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.2
requests==2.22.0
requests-file==1.4.3
six==1.12.0
surt==0.3.1
tldextract==2.2.1
urllib3==1.25.3
